Source: brickd
Priority: optional
Maintainer: David Lechner <david@lechnology.com>
Build-Depends: debhelper (>= 10),
    cmake (>= 3),
    libglib2.0-dev,
    libgudev-1.0-dev,
    pkg-config,
    valac
Standards-Version: 3.9.8
Section: utils
Homepage: https://github.com/ev3dev/brickd
Vcs-Git: https://github.com/ev3dev/brickd.git
Vcs-Browser: https://github.com/ev3dev/brickd

Package: brickd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, systemd-sysv
Description: Brick daemon
 Daemon that monitors ev3dev devices. It does things like automatic shutdown
 when the battery gets low. It also provides a TCP server for remote monitoring.
